{% extends 'index.html' %}

{% block header %}
<div class="row">
  <div class="col-1">
    <strong class="navbar-brand">Gitlab</strong>
  </div>
  <div class="col-8">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if context.current_tab == 'users' else '' }}" href="/gitlab?current_tab=users" title="Ver usuários">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if context.current_tab == 'projects' else '' }}" href="/gitlab?current_tab=projects" title="Ver projetos">Projetos</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}
<section id="users" class="{{ 'hidden' if context.current_tab == 'projects' else '' }}">
  <header class="mb-3">
    <h2>Tabela com a relação de Usuários</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Dono</th>
        <th scope="col">Commits</th>
      </tr>
    </thead>
    <tbody>
      {% for p in context.projects %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.owner.name }}</td>
        <td>
          <a href="/gitlab/{{ p.id }}/commits" title="Ccommits do projeto {{ p.name }}">
          <i class="fas fa-book-open"></i>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section id="projects" class="{{ 'hidden' if context.current_tab == 'users' else '' }}">
  <header class="mb-3">
    <h2>Projetos</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome do Projeto</th>
        <th scope="col">Link SSH</th>
        <th scope="col">Dono</th>
        <th scope="col">Caminho</th>      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>== Nome do Projeto ==</td>
        <td>== SSH do Usuário ==</td>
        <td>== Username do Dono do Projeto ==</td>
        <td>== Caminho do Projeto ==</td>      
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}